body {
    padding-bottom: 550px;
}

/* Flexbox */

.flexbox {
    display: flex;
    background-color: rgb(0, 174, 255);
    color: white;
    margin-bottom: 30px;
}


/* Flex Direction */

.flex-direction {
    display: flex;
    flex-direction: column;
    background-image: #bbb;
}

/* Flex-wrap */

.flex-wrap {
    display: flex;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.caixa {
    height: 50px;
    width: 33%;
    border: 2px solid black;
}




/* Flex-Justify-Content */


.center,
.space-around,
.space-between,
.end {
    display: flex;
    margin-bottom: 30px;
}

.center .caixa,
.space-around .caixa,
.space-between .caixa,
.end .caixa {

    width: 60px;

}

.center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.end {
    justify-content: end;
}



/* Flex Align Items */


.align-center,
.flex-end,
.stretch {

    display: flex;
    height: 200px;
    margin-bottom: 30px;
    border: 3px solid black;
}

.align-center .caixa,
.flex-end .caixa,
.stretch .caixa {
    width: 60px;
}


.align-center {
    align-items: center;
    justify-content: center;
}


.flex-end {
    align-items: flex-end;
}

.stretch {
    align-items: stretch;
}


.stretch .caixa {
    height: auto;
}


/* Gap */

.gap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid rgb(0, 110, 255);
    gap: 8px;
}


.gap .caixa {
    width: 32%;
}


/* Ordem/Order */

.order {
    display: flex;
}

#a {
    order: 1;
}


#b {
    order: 2;
}


#c {
    order: 3;
}


/* Grow */

.grow{
    display: flex;
}

.grow .caixa{
    flex: 1;
}

.grow .maior{
    flex: 2;
}




/* Flex-basis */

.flex-basis{
    display: flex;
}

.flex-basis .caixa{
    flex-basis: 50px;
}

.flex-basis .maior{
    /* Este 1, ocupa o espaço restante do container.. */
    flex-grow: 1;
}






/* Flex shrink */

.flex-shrink{
    display: flex;
}

.flex-shrink .caixa{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1;
    width: auto;
}

.flex-basis .menor{
    flex-shrink: 2;
}





/* Flex Shorthand */


.flex-shorthand{
    display: flex;
}

.flex-shorthand .caixa{
    width: auto;
    flex: 1 1 50px; /* 1 de grow, 1 de shrink e 50 px de basis*/
}

.flex-shorthand .diferenciada{
    flex: 4 1 300px;
}



/* ALign - self */

.align-self{
    height: 400px;
    display: flex;
    align-items: center;
    border: 2px solid rgb(0, 132, 255);
}

.align-self .diferenciada{
align-self: flex-end;
}

.align-self .diferenciada2{
align-self: flex-start;
}



